/* CSS BY MICHELLE CHONG */

/* ===================== */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* ===================== */

/* CSS RESET BY ANDY BELL */
/* https://piccalil.li/blog/a-more-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* ===================== */

/* ROOT VARIABLES */
:root {
    /* Typography */
    --header-font: "Kavoon", sans-serif;
    --body-font: "Inter", sans-serif;

    --h1-font-size: 3em;
    --nav-h2-font-size: 1.5em;
    --h2-font-size: 2em;
    --h3-font-size: 1.5em;
    --h4-font-size: 1.15em;
    --body-font-size: 1em;

    /* Colors */
    --teal: #4CA7C0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57;
    --pink: #D9526F;
    --dark-gray: #1E1E1E;
    --white: #FFF;
}

/* ===================== */

/* GLOBAL STYLES (SMALL) */

body {
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    margin: 0 auto;
    background-color: var(--purple);
    color: var(--dark-gray);
}

header #upper-header {
    background-color: var(--lavender);
    padding-top: 3.5rem;
    padding-bottom: 2rem;
    border-radius: 0 0 28px 28px;
}

header #lower-header {
    background-color: var(--pink);
    text-align: center;
    color: var(--white);
    padding: 2.75rem 4rem 0 4rem;
    margin: 0 0.5rem;
    border-radius: 0 0 28px 28px;
    position: relative;
    top: -2.5rem;
    z-index: -1;
}

#lower-header i {
    margin: 0;
}

h1, h2 {
    font-family: var(--header-font);
}

h1 {
    font-size: var(--h1-font-size);
    margin: 0;
    text-align: center;
    color: var(--white);
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

nav h2 {
    font-size: var(--nav-h2-font-size);
    font-family: var(--body-font);
    font-style: italic;
    color: var(--dark-gray);
    background: var(--yellow);
    margin: 0;
    padding: 1rem;
    width: fit-content;
    border-radius: 0 0 14px 14px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    padding: 0;
    visibility: hidden;
    background-color: var(--white);
    margin: 0;
}

nav h2:hover + ul, nav ul:hover {
    visibility: initial;
}

li a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: var(--dark-gray);
    padding: 1rem;
}

h2 {
    font-size: var(--h2-font-size);
    color: var(--white);
    margin: 0;
}

h3 {
    font-size: var(--h3-font-size);
    color: var(--yellow);
    margin-top: 0.5rem;
}

h4 {
    font-size: var(--h4-font-size);
    color: var(--purple);
}

.card {
    background-color: var(--white);
    border-radius: 14px;
    margin: 1rem 0;
    padding: 1.5rem;
}

#ourServices {
    padding: 1.25rem;
}

#whyChooseUs {
    background-color: var(--pink);
    padding: 1.25rem;
}

#whyChooseUs ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

#whyChooseUs ul li {
    border-radius: 20px;
    text-align: center;
    font-size: var(--h4-font-size);
    font-weight: 700;
    padding: 1.75rem 0.5rem;
}

#personal {
    background-color: var(--teal);
}

#results {
    background-color: var(--lavender);
}

#environment {
    background-color: var(--yellow);
}

#option {
    background-color: var(--white);
}

#pricing {
    padding: 1.25rem;
}

.price-table {
    border-collapse: collapse;
    margin: 0.75rem auto;
    background-color: var(--yellow);
}

.price-table thead tr {
    text-transform: uppercase;
}

.price-table th[scope="row"] {
    font-weight: 500;
    text-align: left;
}

.price-table th, .price-table td {
    padding: 0.75rem 1rem;
}

.price-table tbody th, .price-table tbody td {
    background-color: var(--white);
    border: 2px solid var(--yellow);
}

#firstStep {
    background-color: var(--pink);
    padding: 1.25rem;
}

#firstStep p {
    color: var(--white);
    margin-top: 0.5rem;
}

.schedule-btn {
    border: none;
    background-color: var(--white);
    display: block;
    margin: 0 auto;
    margin-top: 0.5rem;
    width: 22.5rem;
    height: 4rem;
    border-radius: 16px;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: 6px 6px 6px var(--dark-gray);
}

.schedule-btn:hover {
    cursor: pointer;
}

.footer-container {
    background-color: var(--lavender);
    padding: 3rem;
    margin-bottom: 4rem;
    border-radius: 0 0 28px 28px;
    display: flex;
    justify-content: space-around;
    color: var(--white);
}

footer {
    background-color: var(--purple);
}

/* ===================== */

/* MEDIA QUERY (MEDIUM) */
@media screen and (min-width: 620px) {
    .services-ctn {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin: 1rem 0;
    }

    .card {
        flex: 1 0 calc(50% - 1rem);
        margin: 0;
    }

    #whyChooseUs ul {
        width: 100%;
        grid-template-columns: repeat(2, 1.25fr 1fr);
        gap: 1rem;
    }

    .price-table {
        margin: 0.75rem;
    }

    .pricing-ctn {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .firstStep-ctn {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
    }
}

/* ===================== */

/* MEDIA QUERY (LARGE) */
@media screen and (min-width: 950px) {
    nav {
        width: 100%;
    }

    nav ul {
        visibility: visible;
        position: absolute;
        top: 0;
        background-color: var(--yellow);
        display: flex;
        justify-content: space-around;
        border-radius: 0 0 12px 12px;
        padding: 0 1rem;
    }

    nav h2 {
        visibility: hidden;
    }

    nav ul a {
        padding: 0.75rem;
    }

    .services-big-ctn {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
    }

    .services-ctn {
        gap: 1.5rem;
    }

    #whyChooseUs ul li {
        padding-bottom: 3.75rem;
    }

    .pricing-ctn {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* ===================== */

/* MEDIA QUERY (EXTRA LARGE) */
@media screen and (min-width: 1280px) {
    body {
        max-width: 1440px;
    }

    .services-ctn {
        flex-direction: column;
    }
}

